/* Hero section */
.hero .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	margin-top: 30px;
	flex-wrap: wrap;
	align-items: center;
}

.hero__content {
	max-width: 50%;
	height: auto;
	flex: 1;
}

.hero__title {
	font-size: 90px;
	line-height: 90%;
	font-weight: 400;
	font-family: 'Bebas Neue', sans-serif;
}

.hero__name {
	font-size: 75px;
	color: #d3e97a;
}

.hero__description {
	margin-top: 10px;
	color: #c7c7c7;
	line-height: 150%;
	font-family: 'Manrope', sans-serif;
}

.hero__social {
	display: flex;
	gap: 16px;
	padding-top: 40px;
}

.hero__photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}

.hero__photo {
	max-width: 50%;
	aspect-ratio: 6/7;
	height: auto;
	flex: 1;
}

/* Projects section */
.projects .container {
	padding-bottom: 80px;
	padding-top: 80px;
}

.projects__header {
	width: 600px;
	padding-bottom: 80px;
}

.projects__title {
	font-size: 76px;
	font-weight: 400;
	font-family: 'Bebas Neue', sans-serif;
}

.projects__subtitle {
	font-size: 18px;
	line-height: 150%;
	color: #c7c7c7;
}

.projects__list {
	display: flex;
	flex-direction: column;
	row-gap: 120px;
}

.project {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project__image {
	position: relative;
	width: 600px;
	height: 600px;
	background-color: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-right: 10px;
}

.project__image img {
	width: 80%;
	height: auto;
	object-fit: content;
	border-radius: 15px;
	max-width: 486px;
	max-height: 347px;
}

.project__content {
	max-width: 45%;
}

.project__title {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 16px;
	line-height: 140%;
}

.project__text {
	font-family: 'Manrope', sans-serif;
	color: #c7c7c7;
	margin-bottom: 32px;
	line-height: 150%;
	font-weight: 400;
}

.project__info {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 150%;
	font-weight: 600;
	margin-top: 32px;
}

.project__info-title {
	font-weight: 600;
	margin-bottom: 16px;
}

.project__divider {
	border: none;
	border-top: 1px solid #484848;
	margin: 16px 0;
}

.project__info-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;
}

.project__info-label {
	font-weight: 600;
}

.project__info-value {
	color: #c7c7c7;
}

.project__actions {
	display: flex;
	gap: 24px;
	margin-top: 48px;
}

.project__btn {
	border: none;
	background: none;
	cursor: pointer;
}

/* About section */
.about {
	padding: 122px 0 415px 0;
}

.about .container {
	display: flex;
	justify-content: space-between;
}

.about__header {
	width: 275px;
}

.about__title {
	font-size: 90px;
	font-weight: 400;
	font-family: 'Bebas Neue', sans-serif;
	line-height: 90%;
}

.about__content {
	width: 640px;
}

.about__subtitle {
	font-size: 32px;
	line-height: 120%;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	margin-bottom: 16px;
}

.about__text {
	line-height: 130%;
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	margin-bottom: 16px;
	color: #c7c7c7;
}

.about__btn {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	border: none;
	background: none;
	color: #d3e97a;
	position: relative;
	padding-bottom: 5px;
	margin-top: 53px;
	cursor: pointer;
}

.about__btn::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #d3e97a;
}

/* laptop */
@media (max-width: 899px) {
	.about__content {
		width: 550px;
	}
	.hero__content {
		width: 100%;
		margin-top: 80px;
	}

	.hero__photo {
		width: 48%;
		height: auto;
	}

	.hero__title {
		font-size: 64px;
	}

	.hero__name {
		font-size: 52px;
	}

	.project {
		gap: 30px;
	}

	.project__image {
		position: relative;
		width: 480px;
		height: 480px;
	}

	.project__title {
		font-size: 24px;
		margin-bottom: 8px;
	}
	.project__text {
		font-size: 15px;
	}
	.project__info {
		font-size: 14px;
	}
	.about__header {
		width: 245px;
	}
	.about__title {
		font-size: 80px;
	}
	.about__content {
		width: 475px;
	}
	.about__subtitle {
		font-size: 24px;
	}
}
@media (max-width: 768px) {
	.hero .container {
		flex-direction: column;
		gap: 32px;
		align-items: start;
		padding: 0 16px;
	}
	.hero__content {
		max-width: 90%;
		height: auto;
		margin-top: 40px;
	}
	.hero__title br {
		display: none;
	}
	.hero__title,
	.hero__name {
		font-size: 60px;
	}

	.hero__photo {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.hero__photo img {
		width: 80%;
		height: auto;
	}
	.project {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	.project__image {
		width: 100%;
		height: auto;
		aspect-ratio: 1/1;
	}
	.project__image {
		width: 100%;
		height: auto;
		aspect-ratio: 1/1;
	}

	.project__content {
		width: 100%;
		max-width: 100%;
		padding: 0 16px;
	}
	.about .container {
		flex-direction: column;
		gap: 24px;
	}
	.about__header,
	.about__content {
		width: 100%;
	}
}

/* @media (max-width: 599px) {
	
	
	

}  */
